In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

%matplotlib inline

In [2]:
endangered_species = pd.read_csv('../data/ESA.csv')
endangered_species

,NUMBER,UNIT_NAME,STATE,NPS REGION,NPCA REGION,COMMON NAME,SPECIES,TAXA,STATUS
0,1,Abraham Lincoln Birthplace National Historical...,KY,Southeast,Southeast,Gray bat,Myotis grisescens,Mammals,Endangered
1,2,Acadia National Park,ME,Northeast,Northeast,Northern Long-Eared Bat,Myotis septentrionalis,Mammals,Threatened
2,3,Acadia National Park,ME,Northeast,Northeast,Green sea turtle,Chelonia mydas,Reptiles,Endangered; Threatened
3,4,Acadia National Park,ME,Northeast,Northeast,Leatherback sea turtle,Dermochelys coriacea,Reptiles,Endangered
4,5,Acadia National Park,ME,Northeast,Northeast,Finback whale,Balaenoptera physalus,Mammals,Endangered
...,...,...,...,...,...,...,...,...,...
1443,1444,Zion National Park,UT,Intermountain,Southwest,Mexican spotted owl,Strix occidentalis lucida,Birds,Threatened
1444,1445,Zion National Park,UT,Intermountain,Southwest,Shivwits milk-vetch,Astragalus ampullarioides,Flowering Plants,Endangered
1445,1446,Zion National Park,UT,Intermountain,Southwest,Siler pincushion cactus,"Pediocactus (=Echinocactus,=Utahia) sileri",Flowering Plants,Threatened
1446,1447,Zion National Park,UT,Intermountain,Southwest,Virgin River Chub,Gila seminuda (=robusta),Fishes,Endangered
1447,1448,Zion National Park,UT,Intermountain,Southwest,Woundfin,Plagopterus argentissimus,Fishes,Endangered; Experimental

In [3]:
endangered_species.columns

Index(['NUMBER', 'UNIT_NAME', 'STATE', 'NPS REGION', 'NPCA REGION',
       'COMMON NAME', 'SPECIES', 'TAXA', 'STATUS'],
      dtype='object')

In [4]:
endangered_species.shape

(1448, 9)

In [5]:
endangered_species.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1448 entries, 0 to 1447
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   NUMBER       1448 non-null   object
 1   UNIT_NAME    1448 non-null   object
 2   STATE        1448 non-null   object
 3   NPS REGION   1448 non-null   object
 4   NPCA REGION  1448 non-null   object
 5   COMMON NAME  1425 non-null   object
 6   SPECIES      1448 non-null   object
 7   TAXA         1448 non-null   object
 8   STATUS       1448 non-null   object
dtypes: object(9)
memory usage: 101.9+ KB

### Cleaning up the columns/names

In [6]:
endangered_species = endangered_species.drop(columns = ['NUMBER','NPCA REGION'])

In [7]:
endangered_species

,UNIT_NAME,STATE,NPS REGION,COMMON NAME,SPECIES,TAXA,STATUS
0,Abraham Lincoln Birthplace National Historical...,KY,Southeast,Gray bat,Myotis grisescens,Mammals,Endangered
1,Acadia National Park,ME,Northeast,Northern Long-Eared Bat,Myotis septentrionalis,Mammals,Threatened
2,Acadia National Park,ME,Northeast,Green sea turtle,Chelonia mydas,Reptiles,Endangered; Threatened
3,Acadia National Park,ME,Northeast,Leatherback sea turtle,Dermochelys coriacea,Reptiles,Endangered
4,Acadia National Park,ME,Northeast,Finback whale,Balaenoptera physalus,Mammals,Endangered
...,...,...,...,...,...,...,...
1443,Zion National Park,UT,Intermountain,Mexican spotted owl,Strix occidentalis lucida,Birds,Threatened
1444,Zion National Park,UT,Intermountain,Shivwits milk-vetch,Astragalus ampullarioides,Flowering Plants,Endangered
1445,Zion National Park,UT,Intermountain,Siler pincushion cactus,"Pediocactus (=Echinocactus,=Utahia) sileri",Flowering Plants,Threatened
1446,Zion National Park,UT,Intermountain,Virgin River Chub,Gila seminuda (=robusta),Fishes,Endangered
1447,Zion National Park,UT,Intermountain,Woundfin,Plagopterus argentissimus,Fishes,Endangered; Experimental

In [8]:
endangered_species = endangered_species.rename(columns = {'UNIT_NAME':'Park Name','STATE':'State', 'NPS REGION':'NPS Region', 'COMMON NAME':'Common Name','SPECIES':'Species','TAXA':'Taxa','STATUS':'Status'})

In [9]:
endangered_species

,Park Name,State,NPS Region,Common Name,Species,Taxa,Status
0,Abraham Lincoln Birthplace National Historical...,KY,Southeast,Gray bat,Myotis grisescens,Mammals,Endangered
1,Acadia National Park,ME,Northeast,Northern Long-Eared Bat,Myotis septentrionalis,Mammals,Threatened
2,Acadia National Park,ME,Northeast,Green sea turtle,Chelonia mydas,Reptiles,Endangered; Threatened
3,Acadia National Park,ME,Northeast,Leatherback sea turtle,Dermochelys coriacea,Reptiles,Endangered
4,Acadia National Park,ME,Northeast,Finback whale,Balaenoptera physalus,Mammals,Endangered
...,...,...,...,...,...,...,...
1443,Zion National Park,UT,Intermountain,Mexican spotted owl,Strix occidentalis lucida,Birds,Threatened
1444,Zion National Park,UT,Intermountain,Shivwits milk-vetch,Astragalus ampullarioides,Flowering Plants,Endangered
1445,Zion National Park,UT,Intermountain,Siler pincushion cactus,"Pediocactus (=Echinocactus,=Utahia) sileri",Flowering Plants,Threatened
1446,Zion National Park,UT,Intermountain,Virgin River Chub,Gila seminuda (=robusta),Fishes,Endangered
1447,Zion National Park,UT,Intermountain,Woundfin,Plagopterus argentissimus,Fishes,Endangered; Experimental

### Keeping only rows with the title 'National Park'

In [10]:
for index, row in endangered_species.iterrows():  
    if row['Park Name'].find('National Park') == -1:
        endangered_species.drop(index, inplace = True)

In [11]:
endangered_species = endangered_species.reset_index(drop = True)
endangered_species

,Park Name,State,NPS Region,Common Name,Species,Taxa,Status
0,Acadia National Park,ME,Northeast,Northern Long-Eared Bat,Myotis septentrionalis,Mammals,Threatened
1,Acadia National Park,ME,Northeast,Green sea turtle,Chelonia mydas,Reptiles,Endangered; Threatened
2,Acadia National Park,ME,Northeast,Leatherback sea turtle,Dermochelys coriacea,Reptiles,Endangered
3,Acadia National Park,ME,Northeast,Finback whale,Balaenoptera physalus,Mammals,Endangered
4,Arches National Park,UT,Intermountain,Colorado pikeminnow (=squawfish),Ptychocheilus lucius,Fishes,Endangered
...,...,...,...,...,...,...,...
529,Zion National Park,UT,Intermountain,Mexican spotted owl,Strix occidentalis lucida,Birds,Threatened
530,Zion National Park,UT,Intermountain,Shivwits milk-vetch,Astragalus ampullarioides,Flowering Plants,Endangered
531,Zion National Park,UT,Intermountain,Siler pincushion cactus,"Pediocactus (=Echinocactus,=Utahia) sileri",Flowering Plants,Threatened
532,Zion National Park,UT,Intermountain,Virgin River Chub,Gila seminuda (=robusta),Fishes,Endangered
533,Zion National Park,UT,Intermountain,Woundfin,Plagopterus argentissimus,Fishes,Endangered; Experimental

In [12]:
endangered_species['NPS Region'] = endangered_species['NPS Region'].str.strip() #making sure there are no duplicate regions

In [13]:
endangered_species.groupby('NPS Region')['State'].value_counts() #looking at the states per region

NPS Region     State
Alaska         AK             22
Intermountain  UT             25
               TX             16
               AZ             15
               CO             10
               NM              6
               MT              3
               ID, MT, WY      2
               WY              2
Midwest        IN              6
               OH              4
               SD              4
               MN              3
               MO              2
               AR              1
               MI              1
               ND              1
Northeast      VA              9
               ME              4
Pacific West   HI            156
               CA             70
               WA             21
               AS              6
               CA, NV          6
               OR              3
Southeast      FL             93
               KY             15
               VI             10
               NC, TN          9
               SC              6
               NC              3
Name: State, dtype: int64

In [14]:
endangered_species['Park Name'].value_counts()

Haleakala National Park                         103
Hawai'i Volcanoes National Park                  53
Everglades National Park                         44
Biscayne National Park                           34
Channel Islands National Park                    24
Big Bend National Park                           15
Mammoth Cave National Park                       15
Dry Tortugas National Park                       15
Great Smoky Mountains National Park              12
Grand Canyon National Park                       12
Virgin Islands National Park                     10
Shenandoah National Park                          9
Redwood National Park                             8
Death Valley National Park                        8
Sequoia National Park                             8
North Cascades National Park                      8
Capitol Reef National Park                        8
Yosemite National Park                            8
Olympic National Park                             8
National Park of American Samoa                   6
Indiana Dunes National Park                       6
Joshua Tree National Park                         6
Congaree National Park                            6
Carlsbad Caverns National Park                    6
Canyonlands National Park                         6
Kings Canyon National Park                        6
Pinnacles National Park                           5
Rocky Mountain National Park                      5
Mount Rainier National Park                       5
Zion National Park                                5
Acadia National Park                              4
Glacier Bay National Park & Preserve              4
Cuyahoga Valley National Park                     4
Katmai National Park & Preserve                   4
Wrangell-St. Elias National Park & Preserve       4
Kenai Fjords National Park                        4
Lassen Volcanic National Park                     3
Badlands National Park                            3
Crater Lake National Park                         3
Voyageurs National Park                           3
Glacier National Park                             3
Lake Clark National Park & Preserve               3
Black Canyon of the Gunnison National Park        3
Arches National Park                              3
Gates of the Arctic National Park & Preserve      3
Bryce Canyon National Park                        3
Yellowstone National Park                         2
Gateway Arch National Park                        2
Saguaro National Park                             2
Grand Teton National Park                         2
Mesa Verde National Park                          2
Theodore Roosevelt National Park                  1
Petrified Forest National Park                    1
Wind Cave National Park                           1
Guadalupe Mountains National Park                 1
Hot Springs National Park                         1
Isle Royale National Park                         1
Name: Park Name, dtype: int64

In [15]:
endangered_species['Park Name'] = (endangered_species['Park Name'].str.replace("Hawai'i Volcanoes National Park",
                                                                               "Hawaii Volcanoes National Park"))
endangered_species['Park Name'].value_counts()

Haleakala National Park                         103
Hawaii Volcanoes National Park                   53
Everglades National Park                         44
Biscayne National Park                           34
Channel Islands National Park                    24
Big Bend National Park                           15
Mammoth Cave National Park                       15
Dry Tortugas National Park                       15
Great Smoky Mountains National Park              12
Grand Canyon National Park                       12
Virgin Islands National Park                     10
Shenandoah National Park                          9
Redwood National Park                             8
Death Valley National Park                        8
Sequoia National Park                             8
North Cascades National Park                      8
Capitol Reef National Park                        8
Yosemite National Park                            8
Olympic National Park                             8
National Park of American Samoa                   6
Indiana Dunes National Park                       6
Joshua Tree National Park                         6
Congaree National Park                            6
Carlsbad Caverns National Park                    6
Canyonlands National Park                         6
Kings Canyon National Park                        6
Pinnacles National Park                           5
Rocky Mountain National Park                      5
Mount Rainier National Park                       5
Zion National Park                                5
Acadia National Park                              4
Glacier Bay National Park & Preserve              4
Cuyahoga Valley National Park                     4
Katmai National Park & Preserve                   4
Wrangell-St. Elias National Park & Preserve       4
Kenai Fjords National Park                        4
Lassen Volcanic National Park                     3
Badlands National Park                            3
Crater Lake National Park                         3
Voyageurs National Park                           3
Glacier National Park                             3
Lake Clark National Park & Preserve               3
Black Canyon of the Gunnison National Park        3
Arches National Park                              3
Gates of the Arctic National Park & Preserve      3
Bryce Canyon National Park                        3
Yellowstone National Park                         2
Gateway Arch National Park                        2
Saguaro National Park                             2
Grand Teton National Park                         2
Mesa Verde National Park                          2
Theodore Roosevelt National Park                  1
Petrified Forest National Park                    1
Wind Cave National Park                           1
Guadalupe Mountains National Park                 1
Hot Springs National Park                         1
Isle Royale National Park                         1
Name: Park Name, dtype: int64

In [16]:
endangered_species['Species'].value_counts()

Dermochelys coriacea                11
Strix occidentalis lucida           11
Balaenoptera physalus                8
Phoebastria (=Diomedea) albatrus     7
Rana pretiosa                        6
                                    ..
Hibiscus brackenridgei               1
Noturus flavipinnis                  1
Spiraea virginiana                   1
Microhexura montivaga                1
Plagopterus argentissimus            1
Name: Species, Length: 360, dtype: int64

In [17]:
endangered_species['Taxa'].value_counts()

Flowering Plants     234
Birds                 91
Mammals               73
Fishes                38
Reptiles              23
Clams and Mussels     21
Amphibians            17
Insects               15
Corals                 6
Ferns and Allies       6
Snails                 4
Crustaceans            4
Lichens                1
Arachnids              1
Name: Taxa, dtype: int64

In [18]:
endangered_species.loc[endangered_species['Taxa']== "Mammals"] # 73 mammals

,Park Name,State,NPS Region,Common Name,Species,Taxa,Status
0,Acadia National Park,ME,Northeast,Northern Long-Eared Bat,Myotis septentrionalis,Mammals,Threatened
3,Acadia National Park,ME,Northeast,Finback whale,Balaenoptera physalus,Mammals,Endangered
7,Badlands National Park,SD,Midwest,Black-footed ferret,Mustela nigripes,Mammals,Endangered; Experimental
9,Badlands National Park,SD,Midwest,Northern Long-Eared Bat,Myotis septentrionalis,Mammals,Threatened
17,Big Bend National Park,TX,Intermountain,Mexican long-nosed bat,Leptonycteris nivalis,Mammals,Endangered
...,...,...,...,...,...,...,...
517,Wrangell-St. Elias National Park & Preserve,AK,Alaska,Beluga whale,Delphinapterus leucas,Mammals,Endangered
518,Wrangell-St. Elias National Park & Preserve,AK,Alaska,Wood Bison,Bison bison athabascae,Mammals,Threatened
519,Yellowstone National Park,"ID, MT, WY",Intermountain,Canada Lynx,Lynx canadensis,Mammals,Threatened
520,Yellowstone National Park,"ID, MT, WY",Intermountain,Grizzly bear,Ursus arctos horribilis,Mammals,Threatened
521,Yosemite National Park,CA,Pacific West,Sierra Nevada bighorn sheep,Ovis canadensis sierrae,Mammals,Endangered

In [19]:
endangered_species.loc[endangered_species['Status']== "Threatened"]

,Park Name,State,NPS Region,Common Name,Species,Taxa,Status
0,Acadia National Park,ME,Northeast,Northern Long-Eared Bat,Myotis septentrionalis,Mammals,Threatened
5,Arches National Park,UT,Intermountain,Mexican spotted owl,Strix occidentalis lucida,Birds,Threatened
11,Big Bend National Park,TX,Intermountain,Bunched cory cactus,Coryphantha ramillosa,Flowering Plants,Threatened
12,Big Bend National Park,TX,Intermountain,Chisos Mountain hedgehog Cactus,Echinocereus chisoensis var. chisoensis,Flowering Plants,Threatened
15,Big Bend National Park,TX,Intermountain,Hinckley oak,Quercus hinckleyi,Flowering Plants,Threatened
...,...,...,...,...,...,...,...
523,Yosemite National Park,CA,Pacific West,Oregon spotted frog,Rana pretiosa,Amphibians,Threatened
524,Yosemite National Park,CA,Pacific West,Paiute cutthroat trout,Oncorhynchus clarkii seleniris,Fishes,Threatened
528,Yosemite National Park,CA,Pacific West,Yosemite toad,Anaxyrus canorus,Amphibians,Threatened
529,Zion National Park,UT,Intermountain,Mexican spotted owl,Strix occidentalis lucida,Birds,Threatened
531,Zion National Park,UT,Intermountain,Siler pincushion cactus,"Pediocactus (=Echinocactus,=Utahia) sileri",Flowering Plants,Threatened

In [20]:
# 142 threatened species

In [21]:
endangered_species.loc[endangered_species['NPS Region']== "Intermountain"]

,Park Name,State,NPS Region,Common Name,Species,Taxa,Status
4,Arches National Park,UT,Intermountain,Colorado pikeminnow (=squawfish),Ptychocheilus lucius,Fishes,Endangered
5,Arches National Park,UT,Intermountain,Mexican spotted owl,Strix occidentalis lucida,Birds,Threatened
6,Arches National Park,UT,Intermountain,Razorback sucker,Xyrauchen texanus,Fishes,Endangered
10,Big Bend National Park,TX,Intermountain,Big Bend gambusia,Gambusia gaigei,Fishes,Endangered
11,Big Bend National Park,TX,Intermountain,Bunched cory cactus,Coryphantha ramillosa,Flowering Plants,Threatened
...,...,...,...,...,...,...,...
529,Zion National Park,UT,Intermountain,Mexican spotted owl,Strix occidentalis lucida,Birds,Threatened
530,Zion National Park,UT,Intermountain,Shivwits milk-vetch,Astragalus ampullarioides,Flowering Plants,Endangered
531,Zion National Park,UT,Intermountain,Siler pincushion cactus,"Pediocactus (=Echinocactus,=Utahia) sileri",Flowering Plants,Threatened
532,Zion National Park,UT,Intermountain,Virgin River Chub,Gila seminuda (=robusta),Fishes,Endangered
533,Zion National Park,UT,Intermountain,Woundfin,Plagopterus argentissimus,Fishes,Endangered; Experimental

In [22]:
endangered_species.loc[endangered_species['State']== 'UT']

,Park Name,State,NPS Region,Common Name,Species,Taxa,Status
4,Arches National Park,UT,Intermountain,Colorado pikeminnow (=squawfish),Ptychocheilus lucius,Fishes,Endangered
5,Arches National Park,UT,Intermountain,Mexican spotted owl,Strix occidentalis lucida,Birds,Threatened
6,Arches National Park,UT,Intermountain,Razorback sucker,Xyrauchen texanus,Fishes,Endangered
62,Bryce Canyon National Park,UT,Intermountain,Mexican spotted owl,Strix occidentalis lucida,Birds,Threatened
63,Bryce Canyon National Park,UT,Intermountain,Utah prairie dog,Cynomys parvidens,Mammals,Threatened
64,Bryce Canyon National Park,UT,Intermountain,Siler pincushion cactus,"Pediocactus (=Echinocactus,=Utahia) sileri",Flowering Plants,Threatened
65,Canyonlands National Park,UT,Intermountain,Bonytail chub,Gila elegans,Fishes,Endangered
66,Canyonlands National Park,UT,Intermountain,Colorado pikeminnow (=squawfish),Ptychocheilus lucius,Fishes,Endangered
67,Canyonlands National Park,UT,Intermountain,Humpback chub,Gila cypha,Fishes,Endangered
68,Canyonlands National Park,UT,Intermountain,Mexican spotted owl,Strix occidentalis lucida,Birds,Threatened
69,Canyonlands National Park,UT,Intermountain,Razorback sucker,Xyrauchen texanus,Fishes,Endangered
70,Canyonlands National Park,UT,Intermountain,Yellow-billed Cuckoo,Coccyzus americanus,Birds,Threatened
71,Capitol Reef National Park,UT,Intermountain,Barneby reed-mustard,Schoenocrambe barnebyi,Flowering Plants,Endangered
72,Capitol Reef National Park,UT,Intermountain,Jones Cycladenia,Cycladenia humilis var. jonesii,Flowering Plants,Threatened
73,Capitol Reef National Park,UT,Intermountain,Last Chance townsendia,Townsendia aprica,Flowering Plants,Threatened
74,Capitol Reef National Park,UT,Intermountain,Mexican spotted owl,Strix occidentalis lucida,Birds,Threatened
75,Capitol Reef National Park,UT,Intermountain,Ute ladies'-tresses,Spiranthes diluvialis,Flowering Plants,Threatened
76,Capitol Reef National Park,UT,Intermountain,Winkler cactus,Pediocactus winkleri,Flowering Plants,Threatened
77,Capitol Reef National Park,UT,Intermountain,Wright fishhook cactus,Sclerocactus wrightiae,Flowering Plants,Endangered
78,Capitol Reef National Park,UT,Intermountain,San Rafael cactus,Pediocactus despainii,Flowering Plants,Endangered
529,Zion National Park,UT,Intermountain,Mexican spotted owl,Strix occidentalis lucida,Birds,Threatened
530,Zion National Park,UT,Intermountain,Shivwits milk-vetch,Astragalus ampullarioides,Flowering Plants,Endangered
531,Zion National Park,UT,Intermountain,Siler pincushion cactus,"Pediocactus (=Echinocactus,=Utahia) sileri",Flowering Plants,Threatened
532,Zion National Park,UT,Intermountain,Virgin River Chub,Gila seminuda (=robusta),Fishes,Endangered
533,Zion National Park,UT,Intermountain,Woundfin,Plagopterus argentissimus,Fishes,Endangered; Experimental

In [23]:
endangered_species['NPS Region'].value_counts()

Pacific West     262
Southeast        136
Intermountain     79
Midwest           22
Alaska            22
Northeast         13
Name: NPS Region, dtype: int64

In [24]:
endangered_species['Status'].value_counts()

Endangered                  367
Threatened                  142
Endangered; Experimental     14
Endangered; Threatened        7
Threatened                    2
Threatened; Candidate         1
Threatened; Experimental      1
Name: Status, dtype: int64

In [25]:
endangered_species['Common Name'].value_counts()

Leatherback sea turtle                11
Mexican spotted owl                   11
Finback whale                          8
Short-tailed albatross                 7
Oregon spotted frog                    6
                                      ..
Ha`iwale (red-hair cyrtandra)          1
Ha`iwale (Pohakea Gulch cyrtandra)     1
Hāhā (spleenwort cyanea)               1
Hāhā (treetrunk cyanea)                1
Woundfin                               1
Name: Common Name, Length: 335, dtype: int64

In [26]:
endangered_species.loc[endangered_species['Common Name']== "Leatherback sea turtle"]

,Park Name,State,NPS Region,Common Name,Species,Taxa,Status
2,Acadia National Park,ME,Northeast,Leatherback sea turtle,Dermochelys coriacea,Reptiles,Endangered
32,Biscayne National Park,FL,Southeast,Leatherback sea turtle,Dermochelys coriacea,Reptiles,Endangered
105,Channel Islands National Park,CA,Pacific West,Leatherback sea turtle,Dermochelys coriacea,Reptiles,Endangered
136,Dry Tortugas National Park,FL,Southeast,Leatherback sea turtle,Dermochelys coriacea,Reptiles,Endangered
159,Everglades National Park,FL,Southeast,Leatherback sea turtle,Dermochelys coriacea,Reptiles,Endangered
197,Glacier Bay National Park & Preserve,AK,Alaska,Leatherback sea turtle,Dermochelys coriacea,Reptiles,Endangered
308,Haleakala National Park,HI,Pacific West,Leatherback sea turtle,Dermochelys coriacea,Reptiles,Endangered
351,Hawaii Volcanoes National Park,HI,Pacific West,Leatherback sea turtle,Dermochelys coriacea,Reptiles,Endangered
442,National Park of American Samoa,AS,Pacific West,Leatherback sea turtle,Dermochelys coriacea,Reptiles,Endangered
474,Redwood National Park,CA,Pacific West,Leatherback sea turtle,Dermochelys coriacea,Reptiles,Endangered
506,Virgin Islands National Park,VI,Southeast,Leatherback sea turtle,Dermochelys coriacea,Reptiles,Endangered

In [27]:
endangered_species.loc[endangered_species['Common Name']== "Mexican spotted owl"]

,Park Name,State,NPS Region,Common Name,Species,Taxa,Status
5,Arches National Park,UT,Intermountain,Mexican spotted owl,Strix occidentalis lucida,Birds,Threatened
18,Big Bend National Park,TX,Intermountain,Mexican spotted owl,Strix occidentalis lucida,Birds,Threatened
62,Bryce Canyon National Park,UT,Intermountain,Mexican spotted owl,Strix occidentalis lucida,Birds,Threatened
68,Canyonlands National Park,UT,Intermountain,Mexican spotted owl,Strix occidentalis lucida,Birds,Threatened
74,Capitol Reef National Park,UT,Intermountain,Mexican spotted owl,Strix occidentalis lucida,Birds,Threatened
80,Carlsbad Caverns National Park,NM,Intermountain,Mexican spotted owl,Strix occidentalis lucida,Birds,Threatened
206,Grand Canyon National Park,AZ,Intermountain,Mexican spotted owl,Strix occidentalis lucida,Birds,Threatened
227,Guadalupe Mountains National Park,TX,Intermountain,Mexican spotted owl,Strix occidentalis lucida,Birds,Threatened
433,Mesa Verde National Park,CO,Intermountain,Mexican spotted owl,Strix occidentalis lucida,Birds,Threatened
481,Saguaro National Park,AZ,Intermountain,Mexican spotted owl,Strix occidentalis lucida,Birds,Threatened
529,Zion National Park,UT,Intermountain,Mexican spotted owl,Strix occidentalis lucida,Birds,Threatened

In [28]:
endangered_species.loc[endangered_species['Common Name']== "Gray Wolf"]

,Park Name,State,NPS Region,Common Name,Species,Taxa,Status
117,Crater Lake National Park,OR,Pacific West,Gray Wolf,Canis lupus,Mammals,Endangered
391,Isle Royale National Park,MI,Midwest,Gray Wolf,Canis lupus,Mammals,Endangered
439,Mount Rainier National Park,WA,Pacific West,Gray Wolf,Canis lupus,Mammals,Endangered
452,North Cascades National Park,WA,Pacific West,Gray Wolf,Canis lupus,Mammals,Endangered
476,Rocky Mountain National Park,CO,Intermountain,Gray Wolf,Canis lupus,Mammals,Endangered
512,Voyageurs National Park,MN,Midwest,Gray Wolf,Canis lupus,Mammals,Threatened