In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

%matplotlib inline

### Bringing in visitors from 1979-1981

In [2]:
visitors_1979_1981 = pd.read_csv('../data/visitors_1979_1981.csv')

In [3]:
visitors_1979_1981 = visitors_1979_1981.drop(visitors_1979_1981.index[[0,1]])
visitors_1979_1981  # dropping indexes

,"This report will not correctly export to CSV. Please export to Excel, Word, or PDF if you wish to save this report.",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4
2,Park Name,1979,1980,1981,Average
3,Abraham Lincoln Birthplace NHP,"271,231","239,074","252,245","254,183"
4,Acadia NP,"2,787,366","2,779,666","2,997,972","2,855,001"
5,Adams NHP,"34,322","24,974","27,055","28,784"
6,Agate Fossil Beds NM,"8,115","8,330","9,459","8,635"
...,...,...,...,...,...
273,Wright Brothers NMEM,"396,322","428,809","429,618","418,250"
274,Wupatki NM,"186,875","161,846","183,448","177,390"
275,Yellowstone NP,"1,892,908","2,000,269","2,521,831","2,138,336"
276,Yosemite NP,"2,350,782","2,490,282","2,516,893","2,452,652"
277,Zion NP,"1,040,528","1,123,846","1,288,808","1,151,061"

In [4]:
visitors_1979_1981 = visitors_1979_1981.reset_index(drop = True)
visitors_1979_1981.head(5)

,"This report will not correctly export to CSV. Please export to Excel, Word, or PDF if you wish to save this report.",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,Park Name,1979,1980,1981,Average
1,Abraham Lincoln Birthplace NHP,"271,231","239,074","252,245","254,183"
2,Acadia NP,"2,787,366","2,779,666","2,997,972","2,855,001"
3,Adams NHP,"34,322","24,974","27,055","28,784"
4,Agate Fossil Beds NM,"8,115","8,330","9,459","8,635"

In [5]:
visitors_1979_1981.rename(columns = visitors_1979_1981. iloc[0], inplace = True) # making the first row the header names

In [6]:
visitors_1979_1981 = visitors_1979_1981.drop(visitors_1979_1981.index[[0]])
visitors_1979_1981

,Park Name,1979,1980,1981,Average
1,Abraham Lincoln Birthplace NHP,"271,231","239,074","252,245","254,183"
2,Acadia NP,"2,787,366","2,779,666","2,997,972","2,855,001"
3,Adams NHP,"34,322","24,974","27,055","28,784"
4,Agate Fossil Beds NM,"8,115","8,330","9,459","8,635"
5,Alibates Flint Quarries NM,"1,922","2,211","2,384","2,172"
...,...,...,...,...,...
271,Wright Brothers NMEM,"396,322","428,809","429,618","418,250"
272,Wupatki NM,"186,875","161,846","183,448","177,390"
273,Yellowstone NP,"1,892,908","2,000,269","2,521,831","2,138,336"
274,Yosemite NP,"2,350,782","2,490,282","2,516,893","2,452,652"
275,Zion NP,"1,040,528","1,123,846","1,288,808","1,151,061"

In [7]:
visitors_1979_1981 = visitors_1979_1981.reset_index(drop = True)
visitors_1979_1981.head(5)

                        Park Name       1979       1980       1981    Average
0  Abraham Lincoln Birthplace NHP    271,231    239,074    252,245    254,183
1                       Acadia NP  2,787,366  2,779,666  2,997,972  2,855,001
2                       Adams NHP     34,322     24,974     27,055     28,784
3            Agate Fossil Beds NM      8,115      8,330      9,459      8,635
4      Alibates Flint Quarries NM      1,922      2,211      2,384      2,172

### Bringing in visitors from 1982-2001

In [8]:
visitors_1982_2001 = pd.read_csv('../data/visitors_1982_2001.csv')
visitors_1982_2001

,Park Name,1982,1983,1984,1985,1986,1987,1988,1989,1990,...,1993,1994,1995,1996,1997,1998,1999,2000,2001,Average
0,Abraham Lincoln Birthplace NHP,"318,707","256,126","258,023","264,905","280,620","292,825","288,324","309,823","307,669",...,"293,710","279,542","268,509","249,344","262,889","250,842","251,204","236,180","229,675","275,930"
1,Acadia NP,"3,572,114","4,124,639","3,734,763","3,745,570","3,929,054","4,288,154","4,502,283","5,440,952","2,339,591",...,"2,656,034","2,710,749","2,845,378","2,704,831","2,760,306","2,594,497","2,602,227","2,469,238","2,516,551","3,219,745"
2,Adams NHP,"25,440","26,162","23,398","24,555","24,693","25,617","21,617","22,595","20,315",...,"43,877","41,179","47,312","38,230","56,643","63,569","84,574","87,347","167,500","44,949"
3,Agate Fossil Beds NM,"9,018","10,097","10,317","10,366","10,187","11,439","11,156","11,459","14,482",...,"19,467","18,970","18,719","16,567","20,596","17,594","18,117","17,933","17,399","14,828"
4,Alibates Flint Quarries NM,"2,398","1,919","2,251","2,200","2,202","2,494","2,140","3,842","3,418",...,"3,155","3,392","2,769","3,276","3,363","3,293","3,047","3,131","2,456","2,899"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
340,Wupatki NM,"183,666","190,938","207,893","191,950","207,951","208,953","243,666","245,948","249,954",...,"262,769","264,747","262,675","238,889","233,582","217,466","245,225","243,270","239,476","232,012"
341,Yellowstone NP,"2,368,897","2,347,242","2,222,027","2,226,159","2,363,756","2,573,194","2,182,113","2,644,442","2,823,572",...,"2,912,193","3,046,145","3,125,285","3,012,171","2,889,513","3,120,830","3,131,381","2,838,233","2,758,526","2,732,531"
342,Yosemite NP,"2,415,587","2,457,464","2,738,467","2,831,952","2,876,717","3,152,275","3,216,681","3,308,159","3,124,939",...,"3,839,645","3,962,117","3,958,406","4,046,207","3,669,970","3,657,132","3,493,607","3,400,903","3,368,731","3,338,079"
343,Yukon-Charley Rivers NPRES,697,955,988,"2,073","1,707","1,789","1,255",916,"1,965",...,"1,951",646,658,"1,005","1,856","4,451","4,072","3,677","6,571","2,086"
344,Zion NP,"1,246,290","1,273,030","1,377,254","1,503,272","1,670,503","1,777,619","1,948,332","1,998,856","2,102,400",...,"2,392,580","2,270,871","2,430,162","2,498,001","2,445,534","2,370,048","2,449,664","2,432,348","2,217,779","2,051,608"

### Bringing in visitors from 2002-2021

In [9]:
visitors_2002_2021 = pd.read_csv('../data/visitors_2002_2021.csv')
visitors_2002_2021

,Park Name,2002,2003,2004,2005,2006,2007,2008,2009,2010,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,Average
0,Abraham Lincoln Birthplace NHP,"250,772","211,650","201,828","190,809","200,054","202,950","200,404","221,111","177,122",...,"163,928","241,264","148,605","252,495","269,580","260,964","238,226","228,141","251,188","212,209"
1,Acadia NP,"2,558,572","2,431,062","2,207,847","2,051,484","2,083,588","2,202,228","2,075,857","2,227,698","2,504,208",...,"2,254,922","2,563,129","2,811,184","3,303,393","3,509,271","3,537,575","3,437,286","2,669,034","4,069,098","2,665,157"
2,Adams NHP,"173,944","215,659","239,504","220,467","225,318","224,880","241,536","253,656","73,339",...,"285,501","178,468","183,632","199,301","255,562","121,007","187,400","6,937","20,679","193,140"
3,African Burial Ground NM,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"117,113",...,"93,234","54,861","56,348","46,526","43,182","45,035","47,427","7,908","9,167","58,918"
4,Agate Fossil Beds NM,"17,129","16,233","15,235","14,209","13,521","12,997","12,425","12,694","12,509",...,"10,504","12,440","13,264","15,555","32,038","16,238","16,657","8,722","18,264","14,704"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
383,Wupatki NM,"236,394","266,159","247,971","219,480","236,449","239,603","239,157","233,284","221,083",...,"190,878","195,962","212,828","223,172","236,454","205,122","187,059","146,074","207,445","218,105"
384,Yellowstone NP,"2,973,677","3,019,375","2,868,317","2,835,651","2,870,295","3,151,343","3,066,580","3,295,187","3,640,185",...,"3,188,030","3,513,484","4,097,710","4,257,177","4,116,524","4,115,000","4,020,288","3,806,306","4,860,242","3,526,871"
385,Yosemite NP,"3,361,867","3,378,664","3,280,911","3,304,144","3,242,644","3,503,428","3,431,514","3,737,472","3,901,408",...,"3,691,191","3,882,642","4,150,217","5,028,868","4,336,890","4,009,436","4,422,861","2,268,313","3,287,595","3,701,243"
386,Yukon-Charley Rivers NPRES,"5,144","5,552","4,260","12,784","12,083","11,567","4,942","6,432","6,211",...,"3,914","2,329","1,133","1,146",952,"1,272","1,114",666,629,"4,262"
387,Zion NP,"2,592,545","2,458,792","2,677,342","2,586,665","2,567,350","2,657,281","2,690,154","2,735,402","2,665,972",...,"2,807,387","3,189,696","3,648,846","4,295,127","4,504,812","4,320,033","4,488,268","3,591,254","5,039,835","3,265,794"

In [10]:
visitors_2002_2021['2002'] = visitors_2002_2021['2002'].str.replace(',','')
visitors_2002_2021

,Park Name,2002,2003,2004,2005,2006,2007,2008,2009,2010,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,Average
0,Abraham Lincoln Birthplace NHP,250772,"211,650","201,828","190,809","200,054","202,950","200,404","221,111","177,122",...,"163,928","241,264","148,605","252,495","269,580","260,964","238,226","228,141","251,188","212,209"
1,Acadia NP,2558572,"2,431,062","2,207,847","2,051,484","2,083,588","2,202,228","2,075,857","2,227,698","2,504,208",...,"2,254,922","2,563,129","2,811,184","3,303,393","3,509,271","3,537,575","3,437,286","2,669,034","4,069,098","2,665,157"
2,Adams NHP,173944,"215,659","239,504","220,467","225,318","224,880","241,536","253,656","73,339",...,"285,501","178,468","183,632","199,301","255,562","121,007","187,400","6,937","20,679","193,140"
3,African Burial Ground NM,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"117,113",...,"93,234","54,861","56,348","46,526","43,182","45,035","47,427","7,908","9,167","58,918"
4,Agate Fossil Beds NM,17129,"16,233","15,235","14,209","13,521","12,997","12,425","12,694","12,509",...,"10,504","12,440","13,264","15,555","32,038","16,238","16,657","8,722","18,264","14,704"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
383,Wupatki NM,236394,"266,159","247,971","219,480","236,449","239,603","239,157","233,284","221,083",...,"190,878","195,962","212,828","223,172","236,454","205,122","187,059","146,074","207,445","218,105"
384,Yellowstone NP,2973677,"3,019,375","2,868,317","2,835,651","2,870,295","3,151,343","3,066,580","3,295,187","3,640,185",...,"3,188,030","3,513,484","4,097,710","4,257,177","4,116,524","4,115,000","4,020,288","3,806,306","4,860,242","3,526,871"
385,Yosemite NP,3361867,"3,378,664","3,280,911","3,304,144","3,242,644","3,503,428","3,431,514","3,737,472","3,901,408",...,"3,691,191","3,882,642","4,150,217","5,028,868","4,336,890","4,009,436","4,422,861","2,268,313","3,287,595","3,701,243"
386,Yukon-Charley Rivers NPRES,5144,"5,552","4,260","12,784","12,083","11,567","4,942","6,432","6,211",...,"3,914","2,329","1,133","1,146",952,"1,272","1,114",666,629,"4,262"
387,Zion NP,2592545,"2,458,792","2,677,342","2,586,665","2,567,350","2,657,281","2,690,154","2,735,402","2,665,972",...,"2,807,387","3,189,696","3,648,846","4,295,127","4,504,812","4,320,033","4,488,268","3,591,254","5,039,835","3,265,794"

In [11]:
visitors_2002_2021.dtypes

Park Name    object
2002         object
2003         object
2004         object
2005         object
2006         object
2007         object
2008         object
2009         object
2010         object
2011         object
2012         object
2013         object
2014         object
2015         object
2016         object
2017         object
2018         object
2019         object
2020         object
2021         object
Average      object
dtype: object

In [12]:
visitors_2002_2021.shape

(388, 22)

In [13]:
#visitors_2002_2021['2002'] = visitors_2002_2021['2002'].astype(int) # can't convert to int due to the nulls

In [14]:
visitors_2002_2021[visitors_2002_2021['2002'].isnull()] # finding the nulls

,Park Name,2002,2003,2004,2005,2006,2007,2008,2009,2010,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,Average
3,African Burial Ground NM,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"117,113",...,"93,234","54,861","56,348","46,526","43,182","45,035","47,427","7,908","9,167","58,918"
5,Alagnak Wild River,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,262,262
22,Belmont-Paul Women's Equality NM,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,"2,704","10,893","9,081","9,913","2,535",0,"5,854"
37,Boston Harbor Islands NRA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"71,991","20,777","46,384"
39,Brown v. Board of Education NHS,NaN,NaN,"22,101","18,390","20,926","17,536","16,950","19,228","17,808",...,"19,356","26,868","25,338","27,968","25,204","24,083","21,413","4,064","9,113","19,685"
44,Camp Nelson NM,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"43,095","43,095"
57,Carter G. Woodson Home NHS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,"1,884","1,954","2,381",548,0,"1,353"
63,Cesar E. Chavez NM,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"8,157","8,854","10,648","17,216","15,472","12,769","16,490","5,668","9,164","11,604"
68,Charles Young Buffalo Soldiers NM,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,"3,993","10,211","12,405","31,448","14,106","2,461","8,110","11,819"
97,Dwight D. Eisenhower MEM,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"187,328","625,740","406,534"
108,First Ladies NHS,NaN,NaN,NaN,NaN,"11,219","10,881","9,770","10,466","8,766",...,"10,068","15,326","12,897","13,378","13,085","11,447","10,913","2,406","6,562","10,334"
109,Flight 93 NMEM,NaN,NaN,NaN,NaN,NaN,"143,725","136,091","149,668","137,837",...,"265,924","284,226","337,217","385,123","364,082","381,448","411,226","244,364","424,224","283,222"
155,Governors Island NM,NaN,"2,507","11,312","11,559","43,135","69,014","205,010","325,840","409,207",...,"355,553","698,227","438,613","522,859","625,653","589,798","590,993","102,915","191,257","312,836"
198,Katahdin Woods and Waters NM,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"41,432","39,485","40,459"
202,Keweenaw NHP,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,"14,612","16,479","20,416","20,535","2,130","12,457","14,438"
223,Little River Canyon NPRES,NaN,"183,896","174,439","201,442","211,047","264,189","197,693","189,251","192,576",...,"185,477","224,931","248,135","462,700","367,058","441,177","649,986","802,375","862,606","330,823"
231,Manhattan Project NHP,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,"104,715","89,599","69,543","79,870","11,392","26,063","63,530"
234,"Martin Luther King, Jr. Memorial",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"3,205,654","3,199,136","3,530,401","3,638,208","3,651,093","3,567,434","3,667,562","1,083,671","2,032,470","2,982,211"
238,Medgar and Myrlie Evers Home NM,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"1,034","1,034"
240,Minidoka NHS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,"11,622","11,567","13,647","6,747","15,040","11,725"
242,Minuteman Missile NHS,NaN,NaN,"4,924","7,800","16,754","24,566","30,615","36,777","42,348",...,"76,261","62,058","100,488","133,895","143,715","139,273","125,776","98,908","140,280","73,305"
243,Mississippi NRRA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"100,111","85,637","127,635","256,944","436,734","417,022","374,682","204,707","228,460","221,642"
244,Missouri NRR,NaN,NaN,"48,149","63,557","167,960","145,767","162,086","186,313","167,301",...,"169,698","134,760","145,004","148,210","119,816","128,657","129,280","111,602","140,814","139,819"
266,Niobrara NSR,NaN,NaN,"54,385","58,750","60,397","79,942","70,270","68,058","69,705",...,"71,876","53,443","68,110","73,813","80,806","61,639","60,812","102,766","90,670","69,846"
276,Palo Alto Battlefield NHP,NaN,59,"28,175","29,913","32,117","21,676","45,026","41,599","26,865",...,"32,522","41,516","47,866","58,556","84,361","82,488","149,733","97,860","128,852","53,192"
277,Paterson Great Falls NHP,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,"177,498","308,199","143,604","276,985","339,768","312,595","259,775"
292,Port Chicago Naval Magazine NMEM,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,984,...,596,786,963,"1,942","1,086",653,830,70,568,796
293,President W.J. Clinton Birthplace Home NHS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"9,838","11,113","10,463","10,468","10,177","10,845","8,758","4,055","7,279","9,243"
302,River Raisin NBP,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"57,464","55,281","109,118","202,375","238,813","240,548","226,354","309,977","263,472","162,752"
306,Rosie The Riveter WWII Home Front NHP,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"31,514","45,549","56,362","64,425","60,927","57,852","50,404","9,528","19,038","43,955"
311,Saint Croix Island IHS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"10,709","11,588","12,557","13,857","11,872","12,001","11,613","6,914","10,299","11,268"
317,Salt River Bay NHP & Ecological Pres,NaN,NaN,NaN,NaN,"2,526","1,455","2,184","2,540",204,...,"4,791","5,192","8,108","16,449","10,567","4,884","5,215","2,704","10,707","5,323"
322,Sand Creek Massacre NHS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"4,063",...,"4,795","7,402","5,887","6,847","6,535","6,006","5,701","4,215","6,201","5,498"
336,Stonewall NM,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,"106,791","511,220","2,088,929",0,"70,000","555,388"
350,Tule Springs Fossil Beds NM,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"11,953","11,953"
352,Tuskegee Airmen NHS,NaN,"11,085","11,495","10,323","11,345","14,685","50,331","58,417","60,827",...,"19,301","24,319","22,662","31,133","39,322","26,829","30,097","6,843","8,057","25,107"
357,Valles Caldera NPRES,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"30,434","76,578","53,506"
364,Waco Mammoth NM,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,"20,551","69,510","101,792","106,932","111,331","46,457","81,338","76,844"
379,World War I Memorial,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"573,088","573,088"
380,World War II Memorial,NaN,NaN,"5,382,498","4,410,379","3,865,430","4,079,606","4,153,749","4,118,528","3,964,351",...,"3,934,166","4,230,793","5,068,224","4,856,532","4,876,842","4,652,865","4,831,327","1,924,128","3,727,167","4,221,691"

In [15]:
#visitors_2002_2021['2002'].max() #can't do this because of the nulls

In [16]:
visitors_2002_2021.isnull().sum()

Park Name     0
2002         40
2003         36
2004         32
2005         32
2006         29
2007         28
2008         28
2009         28
2010         25
2011         21
2012         21
2013         18
2014         18
2015         16
2016         12
2017          9
2018          9
2019          9
2020          5
2021          0
Average       0
dtype: int64

In [17]:
visitors_2002_2021.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 388 entries, 0 to 387
Data columns (total 22 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Park Name  388 non-null    object
 1   2002       348 non-null    object
 2   2003       352 non-null    object
 3   2004       356 non-null    object
 4   2005       356 non-null    object
 5   2006       359 non-null    object
 6   2007       360 non-null    object
 7   2008       360 non-null    object
 8   2009       360 non-null    object
 9   2010       363 non-null    object
 10  2011       367 non-null    object
 11  2012       367 non-null    object
 12  2013       370 non-null    object
 13  2014       370 non-null    object
 14  2015       372 non-null    object
 15  2016       376 non-null    object
 16  2017       379 non-null    object
 17  2018       379 non-null    object
 18  2019       379 non-null    object
 19  2020       383 non-null    object
 20  2021       388 non-null    object
 21  Average    388 non-null    object
dtypes: object(22)
memory usage: 66.8+ KB

In [18]:
visitors_1979_1981.shape

(275, 5)

In [19]:
visitors_1982_2001.shape

(345, 22)

In [20]:
visitors_2002_2021.shape

(388, 22)

### Merging all the visitor tables

In [21]:
visitors_merged = pd.merge(visitors_1979_1981, visitors_1982_2001, how = 'right', on = 'Park Name')

In [22]:
visitors_merged

,Park Name,1979,1980,1981,Average_x,1982,1983,1984,1985,1986,...,1993,1994,1995,1996,1997,1998,1999,2000,2001,Average_y
0,Abraham Lincoln Birthplace NHP,"271,231","239,074","252,245","254,183","318,707","256,126","258,023","264,905","280,620",...,"293,710","279,542","268,509","249,344","262,889","250,842","251,204","236,180","229,675","275,930"
1,Acadia NP,"2,787,366","2,779,666","2,997,972","2,855,001","3,572,114","4,124,639","3,734,763","3,745,570","3,929,054",...,"2,656,034","2,710,749","2,845,378","2,704,831","2,760,306","2,594,497","2,602,227","2,469,238","2,516,551","3,219,745"
2,Adams NHP,"34,322","24,974","27,055","28,784","25,440","26,162","23,398","24,555","24,693",...,"43,877","41,179","47,312","38,230","56,643","63,569","84,574","87,347","167,500","44,949"
3,Agate Fossil Beds NM,"8,115","8,330","9,459","8,635","9,018","10,097","10,317","10,366","10,187",...,"19,467","18,970","18,719","16,567","20,596","17,594","18,117","17,933","17,399","14,828"
4,Alibates Flint Quarries NM,"1,922","2,211","2,384","2,172","2,398","1,919","2,251","2,200","2,202",...,"3,155","3,392","2,769","3,276","3,363","3,293","3,047","3,131","2,456","2,899"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
340,Wupatki NM,"186,875","161,846","183,448","177,390","183,666","190,938","207,893","191,950","207,951",...,"262,769","264,747","262,675","238,889","233,582","217,466","245,225","243,270","239,476","232,012"
341,Yellowstone NP,"1,892,908","2,000,269","2,521,831","2,138,336","2,368,897","2,347,242","2,222,027","2,226,159","2,363,756",...,"2,912,193","3,046,145","3,125,285","3,012,171","2,889,513","3,120,830","3,131,381","2,838,233","2,758,526","2,732,531"
342,Yosemite NP,"2,350,782","2,490,282","2,516,893","2,452,652","2,415,587","2,457,464","2,738,467","2,831,952","2,876,717",...,"3,839,645","3,962,117","3,958,406","4,046,207","3,669,970","3,657,132","3,493,607","3,400,903","3,368,731","3,338,079"
343,Yukon-Charley Rivers NPRES,NaN,NaN,NaN,NaN,697,955,988,"2,073","1,707",...,"1,951",646,658,"1,005","1,856","4,451","4,072","3,677","6,571","2,086"
344,Zion NP,"1,040,528","1,123,846","1,288,808","1,151,061","1,246,290","1,273,030","1,377,254","1,503,272","1,670,503",...,"2,392,580","2,270,871","2,430,162","2,498,001","2,445,534","2,370,048","2,449,664","2,432,348","2,217,779","2,051,608"

In [23]:
all_merged = pd.merge( visitors_merged, visitors_2002_2021, how = 'right', on = 'Park Name')

In [24]:
all_merged

,Park Name,1979,1980,1981,Average_x,1982,1983,1984,1985,1986,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,Average
0,Abraham Lincoln Birthplace NHP,"271,231","239,074","252,245","254,183","318,707","256,126","258,023","264,905","280,620",...,"163,928","241,264","148,605","252,495","269,580","260,964","238,226","228,141","251,188","212,209"
1,Acadia NP,"2,787,366","2,779,666","2,997,972","2,855,001","3,572,114","4,124,639","3,734,763","3,745,570","3,929,054",...,"2,254,922","2,563,129","2,811,184","3,303,393","3,509,271","3,537,575","3,437,286","2,669,034","4,069,098","2,665,157"
2,Adams NHP,"34,322","24,974","27,055","28,784","25,440","26,162","23,398","24,555","24,693",...,"285,501","178,468","183,632","199,301","255,562","121,007","187,400","6,937","20,679","193,140"
3,African Burial Ground NM,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"93,234","54,861","56,348","46,526","43,182","45,035","47,427","7,908","9,167","58,918"
4,Agate Fossil Beds NM,"8,115","8,330","9,459","8,635","9,018","10,097","10,317","10,366","10,187",...,"10,504","12,440","13,264","15,555","32,038","16,238","16,657","8,722","18,264","14,704"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
383,Wupatki NM,"186,875","161,846","183,448","177,390","183,666","190,938","207,893","191,950","207,951",...,"190,878","195,962","212,828","223,172","236,454","205,122","187,059","146,074","207,445","218,105"
384,Yellowstone NP,"1,892,908","2,000,269","2,521,831","2,138,336","2,368,897","2,347,242","2,222,027","2,226,159","2,363,756",...,"3,188,030","3,513,484","4,097,710","4,257,177","4,116,524","4,115,000","4,020,288","3,806,306","4,860,242","3,526,871"
385,Yosemite NP,"2,350,782","2,490,282","2,516,893","2,452,652","2,415,587","2,457,464","2,738,467","2,831,952","2,876,717",...,"3,691,191","3,882,642","4,150,217","5,028,868","4,336,890","4,009,436","4,422,861","2,268,313","3,287,595","3,701,243"
386,Yukon-Charley Rivers NPRES,NaN,NaN,NaN,NaN,697,955,988,"2,073","1,707",...,"3,914","2,329","1,133","1,146",952,"1,272","1,114",666,629,"4,262"
387,Zion NP,"1,040,528","1,123,846","1,288,808","1,151,061","1,246,290","1,273,030","1,377,254","1,503,272","1,670,503",...,"2,807,387","3,189,696","3,648,846","4,295,127","4,504,812","4,320,033","4,488,268","3,591,254","5,039,835","3,265,794"

### Need to drop all the colums that don't contain the 'NP' in the Park Name

In [25]:
all_merged.columns

Index(['Park Name', '1979', '1980', '1981', 'Average_x', '1982', '1983',
       '1984', '1985', '1986', '1987', '1988', '1989', '1990', '1991', '1992',
       '1993', '1994', '1995', '1996', '1997', '1998', '1999', '2000', '2001',
       'Average_y', '2002', '2003', '2004', '2005', '2006', '2007', '2008',
       '2009', '2010', '2011', '2012', '2013', '2014', '2015', '2016', '2017',
       '2018', '2019', '2020', '2021', 'Average'],
      dtype='object')

In [26]:
all_merged.dtypes

Park Name    object
1979         object
1980         object
1981         object
Average_x    object
1982         object
1983         object
1984         object
1985         object
1986         object
1987         object
1988         object
1989         object
1990         object
1991         object
1992         object
1993         object
1994         object
1995         object
1996         object
1997         object
1998         object
1999         object
2000         object
2001         object
Average_y    object
2002         object
2003         object
2004         object
2005         object
2006         object
2007         object
2008         object
2009         object
2010         object
2011         object
2012         object
2013         object
2014         object
2015         object
2016         object
2017         object
2018         object
2019         object
2020         object
2021         object
Average      object
dtype: object

In [27]:
all_merged['Park Name'].str.contains('NP').any()

True

In [28]:
#finding the amount of times NP occurs in 'Park Name', should be 63 but 72 is close
all_merged['Park Name'].str.contains('NP').sum()

72

In [29]:
true_df = all_merged['Park Name'].eq('NP') # eq looks for exact match??

In [30]:
true_df

0      False
1      False
2      False
3      False
4      False
       ...
383    False
384    False
385    False
386    False
387    False
Name: Park Name, Length: 388, dtype: bool

In [31]:
true_df.info()

<class 'pandas.core.series.Series'>
Int64Index: 388 entries, 0 to 387
Series name: Park Name
Non-Null Count  Dtype
--------------  -----
388 non-null    bool
dtypes: bool(1)
memory usage: 3.4 KB

In [32]:
true_df.value_counts()

False    388
Name: Park Name, dtype: int64

In [33]:
all_merged['Park Name'] = all_merged['Park Name'].str.replace('NP','National Park')

In [34]:
all_merged # the park names now have 'National Park' listed

,Park Name,1979,1980,1981,Average_x,1982,1983,1984,1985,1986,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,Average
0,Abraham Lincoln Birthplace NHP,"271,231","239,074","252,245","254,183","318,707","256,126","258,023","264,905","280,620",...,"163,928","241,264","148,605","252,495","269,580","260,964","238,226","228,141","251,188","212,209"
1,Acadia National Park,"2,787,366","2,779,666","2,997,972","2,855,001","3,572,114","4,124,639","3,734,763","3,745,570","3,929,054",...,"2,254,922","2,563,129","2,811,184","3,303,393","3,509,271","3,537,575","3,437,286","2,669,034","4,069,098","2,665,157"
2,Adams NHP,"34,322","24,974","27,055","28,784","25,440","26,162","23,398","24,555","24,693",...,"285,501","178,468","183,632","199,301","255,562","121,007","187,400","6,937","20,679","193,140"
3,African Burial Ground NM,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"93,234","54,861","56,348","46,526","43,182","45,035","47,427","7,908","9,167","58,918"
4,Agate Fossil Beds NM,"8,115","8,330","9,459","8,635","9,018","10,097","10,317","10,366","10,187",...,"10,504","12,440","13,264","15,555","32,038","16,238","16,657","8,722","18,264","14,704"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
383,Wupatki NM,"186,875","161,846","183,448","177,390","183,666","190,938","207,893","191,950","207,951",...,"190,878","195,962","212,828","223,172","236,454","205,122","187,059","146,074","207,445","218,105"
384,Yellowstone National Park,"1,892,908","2,000,269","2,521,831","2,138,336","2,368,897","2,347,242","2,222,027","2,226,159","2,363,756",...,"3,188,030","3,513,484","4,097,710","4,257,177","4,116,524","4,115,000","4,020,288","3,806,306","4,860,242","3,526,871"
385,Yosemite National Park,"2,350,782","2,490,282","2,516,893","2,452,652","2,415,587","2,457,464","2,738,467","2,831,952","2,876,717",...,"3,691,191","3,882,642","4,150,217","5,028,868","4,336,890","4,009,436","4,422,861","2,268,313","3,287,595","3,701,243"
386,Yukon-Charley Rivers National ParkRES,NaN,NaN,NaN,NaN,697,955,988,"2,073","1,707",...,"3,914","2,329","1,133","1,146",952,"1,272","1,114",666,629,"4,262"
387,Zion National Park,"1,040,528","1,123,846","1,288,808","1,151,061","1,246,290","1,273,030","1,377,254","1,503,272","1,670,503",...,"2,807,387","3,189,696","3,648,846","4,295,127","4,504,812","4,320,033","4,488,268","3,591,254","5,039,835","3,265,794"

In [35]:
all_merged['Park Name'].str.contains('National Park').sum()  #73 items with strings containing 'National Park'

73

### Keeping only rows with the title 'National Park'

In [36]:
for index, row in all_merged.iterrows():  
    if row['Park Name'].find('National Park') == -1:
        all_merged.drop(index, inplace = True)

In [37]:
all_merged

,Park Name,1979,1980,1981,Average_x,1982,1983,1984,1985,1986,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,Average
1,Acadia National Park,"2,787,366","2,779,666","2,997,972","2,855,001","3,572,114","4,124,639","3,734,763","3,745,570","3,929,054",...,"2,254,922","2,563,129","2,811,184","3,303,393","3,509,271","3,537,575","3,437,286","2,669,034","4,069,098","2,665,157"
15,Arches National Park,"269,840","290,519","326,508","295,622","339,415","287,875","345,180","363,464","419,444",...,"1,082,866","1,284,767","1,399,247","1,585,718","1,539,028","1,663,557","1,659,702","1,238,083","1,806,865","1,152,308"
20,Badlands National Park,"858,000","952,652","1,175,952","995,535","1,030,484","1,026,981","1,113,675","950,242","1,025,630",...,"892,372","868,094","989,354","996,263","1,054,325","1,008,942","970,998","916,932","1,224,226","939,248"
24,Bering Land Bridge National ParkRES,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"2,642","2,636","2,642","2,642","2,642","2,642","2,642","2,642","2,642","2,271"
25,Big Bend National Park,"282,941","174,008","167,332","208,094","180,144","164,926","167,665","188,045","200,622",...,"316,953","314,102","381,747","388,290","440,276","440,091","463,832","393,907","581,220","376,655"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
381,Wrangell-St. Elias National Park & PRES,NaN,NaN,NaN,NaN,"14,871","18,760","22,183","23,171","26,557",...,"69,984","74,722","80,366","79,047","68,292","79,450","74,518","16,655","50,189","62,648"
384,Yellowstone National Park,"1,892,908","2,000,269","2,521,831","2,138,336","2,368,897","2,347,242","2,222,027","2,226,159","2,363,756",...,"3,188,030","3,513,484","4,097,710","4,257,177","4,116,524","4,115,000","4,020,288","3,806,306","4,860,242","3,526,871"
385,Yosemite National Park,"2,350,782","2,490,282","2,516,893","2,452,652","2,415,587","2,457,464","2,738,467","2,831,952","2,876,717",...,"3,691,191","3,882,642","4,150,217","5,028,868","4,336,890","4,009,436","4,422,861","2,268,313","3,287,595","3,701,243"
386,Yukon-Charley Rivers National ParkRES,NaN,NaN,NaN,NaN,697,955,988,"2,073","1,707",...,"3,914","2,329","1,133","1,146",952,"1,272","1,114",666,629,"4,262"
387,Zion National Park,"1,040,528","1,123,846","1,288,808","1,151,061","1,246,290","1,273,030","1,377,254","1,503,272","1,670,503",...,"2,807,387","3,189,696","3,648,846","4,295,127","4,504,812","4,320,033","4,488,268","3,591,254","5,039,835","3,265,794"

In [38]:
all_merged = all_merged.reset_index(drop = True)

In [39]:
all_merged

,Park Name,1979,1980,1981,Average_x,1982,1983,1984,1985,1986,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,Average
0,Acadia National Park,"2,787,366","2,779,666","2,997,972","2,855,001","3,572,114","4,124,639","3,734,763","3,745,570","3,929,054",...,"2,254,922","2,563,129","2,811,184","3,303,393","3,509,271","3,537,575","3,437,286","2,669,034","4,069,098","2,665,157"
1,Arches National Park,"269,840","290,519","326,508","295,622","339,415","287,875","345,180","363,464","419,444",...,"1,082,866","1,284,767","1,399,247","1,585,718","1,539,028","1,663,557","1,659,702","1,238,083","1,806,865","1,152,308"
2,Badlands National Park,"858,000","952,652","1,175,952","995,535","1,030,484","1,026,981","1,113,675","950,242","1,025,630",...,"892,372","868,094","989,354","996,263","1,054,325","1,008,942","970,998","916,932","1,224,226","939,248"
3,Bering Land Bridge National ParkRES,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"2,642","2,636","2,642","2,642","2,642","2,642","2,642","2,642","2,642","2,271"
4,Big Bend National Park,"282,941","174,008","167,332","208,094","180,144","164,926","167,665","188,045","200,622",...,"316,953","314,102","381,747","388,290","440,276","440,091","463,832","393,907","581,220","376,655"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
68,Wrangell-St. Elias National Park & PRES,NaN,NaN,NaN,NaN,"14,871","18,760","22,183","23,171","26,557",...,"69,984","74,722","80,366","79,047","68,292","79,450","74,518","16,655","50,189","62,648"
69,Yellowstone National Park,"1,892,908","2,000,269","2,521,831","2,138,336","2,368,897","2,347,242","2,222,027","2,226,159","2,363,756",...,"3,188,030","3,513,484","4,097,710","4,257,177","4,116,524","4,115,000","4,020,288","3,806,306","4,860,242","3,526,871"
70,Yosemite National Park,"2,350,782","2,490,282","2,516,893","2,452,652","2,415,587","2,457,464","2,738,467","2,831,952","2,876,717",...,"3,691,191","3,882,642","4,150,217","5,028,868","4,336,890","4,009,436","4,422,861","2,268,313","3,287,595","3,701,243"
71,Yukon-Charley Rivers National ParkRES,NaN,NaN,NaN,NaN,697,955,988,"2,073","1,707",...,"3,914","2,329","1,133","1,146",952,"1,272","1,114",666,629,"4,262"
72,Zion National Park,"1,040,528","1,123,846","1,288,808","1,151,061","1,246,290","1,273,030","1,377,254","1,503,272","1,670,503",...,"2,807,387","3,189,696","3,648,846","4,295,127","4,504,812","4,320,033","4,488,268","3,591,254","5,039,835","3,265,794"

In [40]:
all_merged.columns

Index(['Park Name', '1979', '1980', '1981', 'Average_x', '1982', '1983',
       '1984', '1985', '1986', '1987', '1988', '1989', '1990', '1991', '1992',
       '1993', '1994', '1995', '1996', '1997', '1998', '1999', '2000', '2001',
       'Average_y', '2002', '2003', '2004', '2005', '2006', '2007', '2008',
       '2009', '2010', '2011', '2012', '2013', '2014', '2015', '2016', '2017',
       '2018', '2019', '2020', '2021', 'Average'],
      dtype='object')

In [41]:
all_merged = all_merged.drop(columns = ['Average_x','Average_y','Average'])

In [42]:
all_merged

,Park Name,1979,1980,1981,1982,1983,1984,1985,1986,1987,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
0,Acadia National Park,"2,787,366","2,779,666","2,997,972","3,572,114","4,124,639","3,734,763","3,745,570","3,929,054","4,288,154",...,"2,431,052","2,254,922","2,563,129","2,811,184","3,303,393","3,509,271","3,537,575","3,437,286","2,669,034","4,069,098"
1,Arches National Park,"269,840","290,519","326,508","339,415","287,875","345,180","363,464","419,444","468,916",...,"1,070,577","1,082,866","1,284,767","1,399,247","1,585,718","1,539,028","1,663,557","1,659,702","1,238,083","1,806,865"
2,Badlands National Park,"858,000","952,652","1,175,952","1,030,484","1,026,981","1,113,675","950,242","1,025,630","1,174,398",...,"883,406","892,372","868,094","989,354","996,263","1,054,325","1,008,942","970,998","916,932","1,224,226"
3,Bering Land Bridge National ParkRES,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"2,642","2,642","2,636","2,642","2,642","2,642","2,642","2,642","2,642","2,642"
4,Big Bend National Park,"282,941","174,008","167,332","180,144","164,926","167,665","188,045","200,622","227,921",...,"292,055","316,953","314,102","381,747","388,290","440,276","440,091","463,832","393,907","581,220"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
68,Wrangell-St. Elias National Park & PRES,NaN,NaN,NaN,"14,871","18,760","22,183","23,171","26,557","29,191",...,"87,158","69,984","74,722","80,366","79,047","68,292","79,450","74,518","16,655","50,189"
69,Yellowstone National Park,"1,892,908","2,000,269","2,521,831","2,368,897","2,347,242","2,222,027","2,226,159","2,363,756","2,573,194",...,"3,447,729","3,188,030","3,513,484","4,097,710","4,257,177","4,116,524","4,115,000","4,020,288","3,806,306","4,860,242"
70,Yosemite National Park,"2,350,782","2,490,282","2,516,893","2,415,587","2,457,464","2,738,467","2,831,952","2,876,717","3,152,275",...,"3,853,404","3,691,191","3,882,642","4,150,217","5,028,868","4,336,890","4,009,436","4,422,861","2,268,313","3,287,595"
71,Yukon-Charley Rivers National ParkRES,NaN,NaN,NaN,697,955,988,"2,073","1,707","1,789",...,"1,393","3,914","2,329","1,133","1,146",952,"1,272","1,114",666,629
72,Zion National Park,"1,040,528","1,123,846","1,288,808","1,246,290","1,273,030","1,377,254","1,503,272","1,670,503","1,777,619",...,"2,973,607","2,807,387","3,189,696","3,648,846","4,295,127","4,504,812","4,320,033","4,488,268","3,591,254","5,039,835"

In [43]:
all_merged.isnull().sum()

Park Name     0
1979         17
1980         17
1981         16
1982          9
1983          9
1984          8
1985          7
1986          7
1987          7
1988          7
1989          6
1990          6
1991          6
1992          6
1993          6
1994          6
1995          6
1996          7
1997          5
1998          3
1999          3
2000          3
2001          3
2002          2
2003          1
2004          2
2005          2
2006          1
2007          1
2008          1
2009          1
2010          1
2011          1
2012          1
2013          1
2014          1
2015          1
2016          1
2017          1
2018          1
2019          1
2020          0
2021          0
dtype: int64

### Trying to filter better so I end up with 63 national parks

In [44]:
sum(all_merged['Park Name'].str.contains('ParkRES'))

9

In [45]:
all_merged['Park Name'] = all_merged['Park Name'].str.replace('ParkRES','')
all_merged

,Park Name,1979,1980,1981,1982,1983,1984,1985,1986,1987,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
0,Acadia National Park,"2,787,366","2,779,666","2,997,972","3,572,114","4,124,639","3,734,763","3,745,570","3,929,054","4,288,154",...,"2,431,052","2,254,922","2,563,129","2,811,184","3,303,393","3,509,271","3,537,575","3,437,286","2,669,034","4,069,098"
1,Arches National Park,"269,840","290,519","326,508","339,415","287,875","345,180","363,464","419,444","468,916",...,"1,070,577","1,082,866","1,284,767","1,399,247","1,585,718","1,539,028","1,663,557","1,659,702","1,238,083","1,806,865"
2,Badlands National Park,"858,000","952,652","1,175,952","1,030,484","1,026,981","1,113,675","950,242","1,025,630","1,174,398",...,"883,406","892,372","868,094","989,354","996,263","1,054,325","1,008,942","970,998","916,932","1,224,226"
3,Bering Land Bridge National,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"2,642","2,642","2,636","2,642","2,642","2,642","2,642","2,642","2,642","2,642"
4,Big Bend National Park,"282,941","174,008","167,332","180,144","164,926","167,665","188,045","200,622","227,921",...,"292,055","316,953","314,102","381,747","388,290","440,276","440,091","463,832","393,907","581,220"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
68,Wrangell-St. Elias National Park & PRES,NaN,NaN,NaN,"14,871","18,760","22,183","23,171","26,557","29,191",...,"87,158","69,984","74,722","80,366","79,047","68,292","79,450","74,518","16,655","50,189"
69,Yellowstone National Park,"1,892,908","2,000,269","2,521,831","2,368,897","2,347,242","2,222,027","2,226,159","2,363,756","2,573,194",...,"3,447,729","3,188,030","3,513,484","4,097,710","4,257,177","4,116,524","4,115,000","4,020,288","3,806,306","4,860,242"
70,Yosemite National Park,"2,350,782","2,490,282","2,516,893","2,415,587","2,457,464","2,738,467","2,831,952","2,876,717","3,152,275",...,"3,853,404","3,691,191","3,882,642","4,150,217","5,028,868","4,336,890","4,009,436","4,422,861","2,268,313","3,287,595"
71,Yukon-Charley Rivers National,NaN,NaN,NaN,697,955,988,"2,073","1,707","1,789",...,"1,393","3,914","2,329","1,133","1,146",952,"1,272","1,114",666,629
72,Zion National Park,"1,040,528","1,123,846","1,288,808","1,246,290","1,273,030","1,377,254","1,503,272","1,670,503","1,777,619",...,"2,973,607","2,807,387","3,189,696","3,648,846","4,295,127","4,504,812","4,320,033","4,488,268","3,591,254","5,039,835"

In [46]:
for index, row in all_merged.iterrows():  
    if row['Park Name'].find('Park') == -1:
        all_merged.drop(index, inplace = True)

In [47]:
all_merged

,Park Name,1979,1980,1981,1982,1983,1984,1985,1986,1987,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
0,Acadia National Park,"2,787,366","2,779,666","2,997,972","3,572,114","4,124,639","3,734,763","3,745,570","3,929,054","4,288,154",...,"2,431,052","2,254,922","2,563,129","2,811,184","3,303,393","3,509,271","3,537,575","3,437,286","2,669,034","4,069,098"
1,Arches National Park,"269,840","290,519","326,508","339,415","287,875","345,180","363,464","419,444","468,916",...,"1,070,577","1,082,866","1,284,767","1,399,247","1,585,718","1,539,028","1,663,557","1,659,702","1,238,083","1,806,865"
2,Badlands National Park,"858,000","952,652","1,175,952","1,030,484","1,026,981","1,113,675","950,242","1,025,630","1,174,398",...,"883,406","892,372","868,094","989,354","996,263","1,054,325","1,008,942","970,998","916,932","1,224,226"
4,Big Bend National Park,"282,941","174,008","167,332","180,144","164,926","167,665","188,045","200,622","227,921",...,"292,055","316,953","314,102","381,747","388,290","440,276","440,091","463,832","393,907","581,220"
7,Biscayne National Park,"202,938","248,071","305,502","348,219","369,082","340,567","460,921","578,013","607,968",...,"495,613","486,848","525,745","508,164","514,709","446,961","469,253","708,522","402,770","705,655"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
67,Wolf Trap National Park for the Performing Arts,"589,016","619,794","587,926","339,034","258,430","304,738","458,395","539,294","545,667",...,"426,996","441,166","388,283","407,351","437,513","424,364","365,540","402,580","30,073","247,862"
68,Wrangell-St. Elias National Park & PRES,NaN,NaN,NaN,"14,871","18,760","22,183","23,171","26,557","29,191",...,"87,158","69,984","74,722","80,366","79,047","68,292","79,450","74,518","16,655","50,189"
69,Yellowstone National Park,"1,892,908","2,000,269","2,521,831","2,368,897","2,347,242","2,222,027","2,226,159","2,363,756","2,573,194",...,"3,447,729","3,188,030","3,513,484","4,097,710","4,257,177","4,116,524","4,115,000","4,020,288","3,806,306","4,860,242"
70,Yosemite National Park,"2,350,782","2,490,282","2,516,893","2,415,587","2,457,464","2,738,467","2,831,952","2,876,717","3,152,275",...,"3,853,404","3,691,191","3,882,642","4,150,217","5,028,868","4,336,890","4,009,436","4,422,861","2,268,313","3,287,595"
72,Zion National Park,"1,040,528","1,123,846","1,288,808","1,246,290","1,273,030","1,377,254","1,503,272","1,670,503","1,777,619",...,"2,973,607","2,807,387","3,189,696","3,648,846","4,295,127","4,504,812","4,320,033","4,488,268","3,591,254","5,039,835"

In [48]:
all_merged = all_merged.reset_index(drop = True)
all_merged

,Park Name,1979,1980,1981,1982,1983,1984,1985,1986,1987,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
0,Acadia National Park,"2,787,366","2,779,666","2,997,972","3,572,114","4,124,639","3,734,763","3,745,570","3,929,054","4,288,154",...,"2,431,052","2,254,922","2,563,129","2,811,184","3,303,393","3,509,271","3,537,575","3,437,286","2,669,034","4,069,098"
1,Arches National Park,"269,840","290,519","326,508","339,415","287,875","345,180","363,464","419,444","468,916",...,"1,070,577","1,082,866","1,284,767","1,399,247","1,585,718","1,539,028","1,663,557","1,659,702","1,238,083","1,806,865"
2,Badlands National Park,"858,000","952,652","1,175,952","1,030,484","1,026,981","1,113,675","950,242","1,025,630","1,174,398",...,"883,406","892,372","868,094","989,354","996,263","1,054,325","1,008,942","970,998","916,932","1,224,226"
3,Big Bend National Park,"282,941","174,008","167,332","180,144","164,926","167,665","188,045","200,622","227,921",...,"292,055","316,953","314,102","381,747","388,290","440,276","440,091","463,832","393,907","581,220"
4,Biscayne National Park,"202,938","248,071","305,502","348,219","369,082","340,567","460,921","578,013","607,968",...,"495,613","486,848","525,745","508,164","514,709","446,961","469,253","708,522","402,770","705,655"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
59,Wolf Trap National Park for the Performing Arts,"589,016","619,794","587,926","339,034","258,430","304,738","458,395","539,294","545,667",...,"426,996","441,166","388,283","407,351","437,513","424,364","365,540","402,580","30,073","247,862"
60,Wrangell-St. Elias National Park & PRES,NaN,NaN,NaN,"14,871","18,760","22,183","23,171","26,557","29,191",...,"87,158","69,984","74,722","80,366","79,047","68,292","79,450","74,518","16,655","50,189"
61,Yellowstone National Park,"1,892,908","2,000,269","2,521,831","2,368,897","2,347,242","2,222,027","2,226,159","2,363,756","2,573,194",...,"3,447,729","3,188,030","3,513,484","4,097,710","4,257,177","4,116,524","4,115,000","4,020,288","3,806,306","4,860,242"
62,Yosemite National Park,"2,350,782","2,490,282","2,516,893","2,415,587","2,457,464","2,738,467","2,831,952","2,876,717","3,152,275",...,"3,853,404","3,691,191","3,882,642","4,150,217","5,028,868","4,336,890","4,009,436","4,422,861","2,268,313","3,287,595"
63,Zion National Park,"1,040,528","1,123,846","1,288,808","1,246,290","1,273,030","1,377,254","1,503,272","1,670,503","1,777,619",...,"2,973,607","2,807,387","3,189,696","3,648,846","4,295,127","4,504,812","4,320,033","4,488,268","3,591,254","5,039,835"

In [49]:
all_merged = all_merged.drop(all_merged.index[[59]])

In [50]:
all_merged

,Park Name,1979,1980,1981,1982,1983,1984,1985,1986,1987,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
0,Acadia National Park,"2,787,366","2,779,666","2,997,972","3,572,114","4,124,639","3,734,763","3,745,570","3,929,054","4,288,154",...,"2,431,052","2,254,922","2,563,129","2,811,184","3,303,393","3,509,271","3,537,575","3,437,286","2,669,034","4,069,098"
1,Arches National Park,"269,840","290,519","326,508","339,415","287,875","345,180","363,464","419,444","468,916",...,"1,070,577","1,082,866","1,284,767","1,399,247","1,585,718","1,539,028","1,663,557","1,659,702","1,238,083","1,806,865"
2,Badlands National Park,"858,000","952,652","1,175,952","1,030,484","1,026,981","1,113,675","950,242","1,025,630","1,174,398",...,"883,406","892,372","868,094","989,354","996,263","1,054,325","1,008,942","970,998","916,932","1,224,226"
3,Big Bend National Park,"282,941","174,008","167,332","180,144","164,926","167,665","188,045","200,622","227,921",...,"292,055","316,953","314,102","381,747","388,290","440,276","440,091","463,832","393,907","581,220"
4,Biscayne National Park,"202,938","248,071","305,502","348,219","369,082","340,567","460,921","578,013","607,968",...,"495,613","486,848","525,745","508,164","514,709","446,961","469,253","708,522","402,770","705,655"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
58,Wind Cave National Park,"457,443","473,061","503,424","467,392","503,739","536,022","477,585","483,334","563,720",...,"529,083","516,142","547,022","612,198","617,377","619,924","656,397","615,350","448,405","709,001"
60,Wrangell-St. Elias National Park & PRES,NaN,NaN,NaN,"14,871","18,760","22,183","23,171","26,557","29,191",...,"87,158","69,984","74,722","80,366","79,047","68,292","79,450","74,518","16,655","50,189"
61,Yellowstone National Park,"1,892,908","2,000,269","2,521,831","2,368,897","2,347,242","2,222,027","2,226,159","2,363,756","2,573,194",...,"3,447,729","3,188,030","3,513,484","4,097,710","4,257,177","4,116,524","4,115,000","4,020,288","3,806,306","4,860,242"
62,Yosemite National Park,"2,350,782","2,490,282","2,516,893","2,415,587","2,457,464","2,738,467","2,831,952","2,876,717","3,152,275",...,"3,853,404","3,691,191","3,882,642","4,150,217","5,028,868","4,336,890","4,009,436","4,422,861","2,268,313","3,287,595"
63,Zion National Park,"1,040,528","1,123,846","1,288,808","1,246,290","1,273,030","1,377,254","1,503,272","1,670,503","1,777,619",...,"2,973,607","2,807,387","3,189,696","3,648,846","4,295,127","4,504,812","4,320,033","4,488,268","3,591,254","5,039,835"

In [51]:
all_merged['Park Name'] = all_merged['Park Name'].str.replace('PRES','Preserve')
all_merged

,Park Name,1979,1980,1981,1982,1983,1984,1985,1986,1987,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
0,Acadia National Park,"2,787,366","2,779,666","2,997,972","3,572,114","4,124,639","3,734,763","3,745,570","3,929,054","4,288,154",...,"2,431,052","2,254,922","2,563,129","2,811,184","3,303,393","3,509,271","3,537,575","3,437,286","2,669,034","4,069,098"
1,Arches National Park,"269,840","290,519","326,508","339,415","287,875","345,180","363,464","419,444","468,916",...,"1,070,577","1,082,866","1,284,767","1,399,247","1,585,718","1,539,028","1,663,557","1,659,702","1,238,083","1,806,865"
2,Badlands National Park,"858,000","952,652","1,175,952","1,030,484","1,026,981","1,113,675","950,242","1,025,630","1,174,398",...,"883,406","892,372","868,094","989,354","996,263","1,054,325","1,008,942","970,998","916,932","1,224,226"
3,Big Bend National Park,"282,941","174,008","167,332","180,144","164,926","167,665","188,045","200,622","227,921",...,"292,055","316,953","314,102","381,747","388,290","440,276","440,091","463,832","393,907","581,220"
4,Biscayne National Park,"202,938","248,071","305,502","348,219","369,082","340,567","460,921","578,013","607,968",...,"495,613","486,848","525,745","508,164","514,709","446,961","469,253","708,522","402,770","705,655"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
58,Wind Cave National Park,"457,443","473,061","503,424","467,392","503,739","536,022","477,585","483,334","563,720",...,"529,083","516,142","547,022","612,198","617,377","619,924","656,397","615,350","448,405","709,001"
60,Wrangell-St. Elias National Park & Preserve,NaN,NaN,NaN,"14,871","18,760","22,183","23,171","26,557","29,191",...,"87,158","69,984","74,722","80,366","79,047","68,292","79,450","74,518","16,655","50,189"
61,Yellowstone National Park,"1,892,908","2,000,269","2,521,831","2,368,897","2,347,242","2,222,027","2,226,159","2,363,756","2,573,194",...,"3,447,729","3,188,030","3,513,484","4,097,710","4,257,177","4,116,524","4,115,000","4,020,288","3,806,306","4,860,242"
62,Yosemite National Park,"2,350,782","2,490,282","2,516,893","2,415,587","2,457,464","2,738,467","2,831,952","2,876,717","3,152,275",...,"3,853,404","3,691,191","3,882,642","4,150,217","5,028,868","4,336,890","4,009,436","4,422,861","2,268,313","3,287,595"
63,Zion National Park,"1,040,528","1,123,846","1,288,808","1,246,290","1,273,030","1,377,254","1,503,272","1,670,503","1,777,619",...,"2,973,607","2,807,387","3,189,696","3,648,846","4,295,127","4,504,812","4,320,033","4,488,268","3,591,254","5,039,835"

### Making the dataframe tall instead of wide so that the column names can be descriptive

In [52]:
all_merged.columns

Index(['Park Name', '1979', '1980', '1981', '1982', '1983', '1984', '1985',
       '1986', '1987', '1988', '1989', '1990', '1991', '1992', '1993', '1994',
       '1995', '1996', '1997', '1998', '1999', '2000', '2001', '2002', '2003',
       '2004', '2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012',
       '2013', '2014', '2015', '2016', '2017', '2018', '2019', '2020', '2021'],
      dtype='object')

In [53]:
tempdf = all_merged.copy()

In [54]:
years = [str(x) for x in range(1979,2022)]

In [55]:
years = tuple(years)

In [56]:
all_merged_redo = tempdf.melt(['Park Name'],var_name = 'year', value_name = 'visitors')

In [57]:
all_merged_redo = all_merged_redo.rename(columns= {'year':'Year', 'visitors':'Visitors'})

In [58]:
all_merged_redo

                                        Park Name  Year   Visitors
0                            Acadia National Park  1979  2,787,366
1                            Arches National Park  1979    269,840
2                          Badlands National Park  1979    858,000
3                          Big Bend National Park  1979    282,941
4                          Biscayne National Park  1979    202,938
...                                           ...   ...        ...
2704                      Wind Cave National Park  2021    709,001
2705  Wrangell-St. Elias National Park & Preserve  2021     50,189
2706                    Yellowstone National Park  2021  4,860,242
2707                       Yosemite National Park  2021  3,287,595
2708                           Zion National Park  2021  5,039,835

[2709 rows x 3 columns]

In [60]:
all_merged_redo.to_csv('visitors_clean.csv', index = False)