In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

%matplotlib inline

### Bringing in visitors from 1979-1981

In [ ]:
visitors_1979_1981 = pd.read_csv('../data/visitors_1979_1981.csv')

In [ ]:
visitors_1979_1981 = visitors_1979_1981.drop(visitors_1979_1981.index[[0,1]])
visitors_1979_1981  # dropping indexes

In [ ]:
visitors_1979_1981 = visitors_1979_1981.reset_index(drop = True)
visitors_1979_1981.head(5)

In [ ]:
visitors_1979_1981.rename(columns = visitors_1979_1981. iloc[0], inplace = True) # making the first row the header names

In [ ]:
visitors_1979_1981 = visitors_1979_1981.drop(visitors_1979_1981.index[[0]])
visitors_1979_1981

In [ ]:
visitors_1979_1981 = visitors_1979_1981.reset_index(drop = True)
visitors_1979_1981.head(5)

### Bringing in visitors from 1982-2001

In [ ]:
visitors_1982_2001 = pd.read_csv('../data/visitors_1982_2001.csv')
visitors_1982_2001

### Bringing in visitors from 2002-2021

In [ ]:
visitors_2002_2021 = pd.read_csv('../data/visitors_2002_2021.csv')
visitors_2002_2021

In [ ]:
visitors_2002_2021['2002'] = visitors_2002_2021['2002'].str.replace(',','')
visitors_2002_2021

In [ ]:
visitors_2002_2021.dtypes

In [ ]:
visitors_2002_2021.shape

In [ ]:
#visitors_2002_2021['2002'] = visitors_2002_2021['2002'].astype(int) # can't convert to int due to the nulls

In [ ]:
visitors_2002_2021[visitors_2002_2021['2002'].isnull()] # finding the nulls

In [ ]:
#visitors_2002_2021['2002'].max() #can't do this because of the nulls

In [ ]:
visitors_2002_2021.isnull().sum()

In [ ]:
visitors_2002_2021.info()

In [ ]:
visitors_1979_1981.shape

In [ ]:
visitors_1982_2001.shape

In [ ]:
visitors_2002_2021.shape

### Merging all the visitor tables

In [ ]:
visitors_merged = pd.merge(visitors_1979_1981, visitors_1982_2001, how = 'right', on = 'Park Name')

In [ ]:
visitors_merged

In [ ]:
all_merged = pd.merge( visitors_merged, visitors_2002_2021, how = 'right', on = 'Park Name')

In [ ]:
all_merged

### Need to drop all the colums that don't contain the 'NP' in the Park Name

In [ ]:
all_merged.columns

In [ ]:
all_merged.dtypes

In [ ]:
all_merged['Park Name'].str.contains('NP').any()

In [ ]:
#finding the amount of times NP occurs in 'Park Name', should be 63 but 72 is close
all_merged['Park Name'].str.contains('NP').sum()

In [ ]:
true_df = all_merged['Park Name'].eq('NP') # eq looks for exact match??

In [ ]:
true_df

In [ ]:
true_df.info()

In [ ]:
true_df.value_counts()

In [ ]:
all_merged['Park Name'] = all_merged['Park Name'].str.replace('NP','National Park')

In [ ]:
all_merged # the park names now have 'National Park' listed

In [ ]:
all_merged['Park Name'].str.contains('National Park').sum()  #73 items with strings containing 'National Park'

### Keeping only rows with the title 'National Park'

In [ ]:
for index, row in all_merged.iterrows():  
    if row['Park Name'].find('National Park') == -1:
        all_merged.drop(index, inplace = True)

In [ ]:
all_merged

In [ ]:
all_merged = all_merged.reset_index(drop = True)

In [ ]:
all_merged

In [ ]:
all_merged.columns

In [ ]:
all_merged = all_merged.drop(columns = ['Average_x','Average_y','Average'])

In [ ]:
all_merged

In [ ]:
all_merged.isnull().sum()

### Trying to filter better so I end up with 63 national parks

In [ ]:
sum(all_merged['Park Name'].str.contains('ParkRES'))

In [ ]:
all_merged['Park Name'] = all_merged['Park Name'].str.replace('ParkRES','')
all_merged

In [ ]:
for index, row in all_merged.iterrows():  
    if row['Park Name'].find('Park') == -1:
        all_merged.drop(index, inplace = True)

In [ ]:
all_merged

In [ ]:
all_merged = all_merged.reset_index(drop = True)
all_merged

In [ ]:
all_merged = all_merged.drop(all_merged.index[[59]])

In [ ]:
all_merged

In [ ]:
all_merged['Park Name'] = all_merged['Park Name'].str.replace('PRES','Preserve')
all_merged

In [ ]:
all_merged.dtypes

In [ ]:
all_merged.info()